@import "tailwindcss";
@import "../lib/assets/Charis/Charis-webfont.css";
@import "./breeze.css";

@theme {
  --font-sans: "Charis", sans-serif;
}

.prose {
  h1 {
    font-weight: 700;
  }
  ul {
    list-style: disc;
    padding-left: 1rem;
  }
  a {
    color: var(--color-link);
    &:hover {
      text-decoration: underline;
    }
  }
  p,
  li {
    margin: 0.5rem 0;
  }
}
